body {
	background-color: #ffffff;
	font-family: Roboto, sans-serif;
} 
/*Logo*/
.logo {
	height: 40px;
	width: 210px; 
}
.logo_gallery { 
    float: left;
    width: 210px;
}
.logo_desc { 
	font-size: 9.9px;
	color: #3c7d7c; 
}
.logo_robot {
	height: 70px;
	width: 85px; 
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*Navbar*/
.navbar-default {
	background-color: #ffffff; 
	border-color:  #ffffff;
	border-bottom: 2px solid #00a8b0;
}
.navbar { 
	padding-top: 20px;padding-left: 20px; 
	background-color: #ffffff;
	padding-bottom: 0px;
	margin-bottom: 0px;

} 
.navbar .navbar-toggle {
   /* border-color: #ddd;*/
} 
.navbar-brand {
	padding: 0px; 
} 
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #5E5E5E;
}  
.navbar-default .navbar-nav > li > a {
    font-size: 17px;   
    color: rgb(33, 24, 24, 0.68);
    white-space: nowrap; 
}  
.nav > li > a {
	padding:15px 15px;
} 
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
   color: #00A9B0;
}   
#get_started {
	border-radius: 0px;  
	background-color: #00a8b0;
	border-color: #00a8b0;
	transition: .5s;
}
#get_started:hover {
	background-color: #fad46a;
	border-color: #fad46a;
} 
.dropdown_logIN {
    position: relative;
    display: inline-block; 
    margin: 
} 
.dropdown_logIN_content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} 
.dropdown_logIN_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 
.dropdown_logIN_content a:hover {
	background-color: #fad46a;
	color: #ffffff
} 
.dropdown_logIN:hover .dropdown_logIN_content {
    display: block;
} 
.dropdown_logIN:hover .dropbtn_Login {
    background-color: #fad46a;
}
#language {
	color: rgb(33, 24, 24, 0.68);
}
#language:hover {
	text-decoration: none;
	color: rgb(33, 24, 24, 0.68);
}
/*End of the Nav bar*/
/*Applauz Intro*/
#applauz-intro{
 	width: 100%;
    height: 508px; 
    background-size: 100% 100%; 
    background-image:url(../images/applauz-intro.jpg);
   margin-top: 4%;
}
#intro-req-background {
	width: 100%;
    height: 508px; 
    background-size: 100% 100%; 
    background-image:url(../images/intro-req-background.jpg);
    margin: 0%;
}
.applauz-intro-content-head1 {
	margin-left: 13%;
	height: 55%; width: 50%;
	font-weight: bold;
	font-size: 40px;
	color:#ffffff;
	padding-top: 5.5%;
}
.applauz-intro-content-head2 { 
	color:#4f432f; 
}
#btn_sign_up {
	border-radius: 0px;    
	transition: .5s;
	color: #28a7c0;
}
#btn_sign_up:hover {
	background-color: #fad46a;
	border-color: #fad46a;
} 
#applauz-intro-computer {  
    float: right;
    height: auto; width: 20%; 
    margin-right: 15%;  
    position: relative;
	top: 0;
	left: 0;
	margin-top: 5.5%;
}
#applauz-intro-newsfeed {
	 height: auto; width: 18%;
	 margin-top: 6.3%;
	 position: absolute; 
	 right:16.2%;
}
.section-head {
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center; 
}
.section-head h1{
	font-weight: bold; 
	color: #21444b;
}
/*Feature Box*/
#feature-box {
	box-sizing: border-box;
	display: table;
}
#left {
	background-color: #27a0a5;
	height: 350px;
	position: absolute; 
    left: 0; 
    margin-bottom: 10%;
    padding-top: 3.5%;
    padding-left: 10%;
}
#peer-recognition {
	margin-left: 125px; 
}
#peer-recognition-content {
	margin-bottom: 5%;
}
#left:hover {
	background-color: #ebbd3e; 
	transition: .5s; 
}
/*body-color blue*/
#right { 
	background-color: #ccc;
	height: 350px;  
	position: absolute;  
    right:0;  
    padding-top: 3.5%; 
    padding-right: 10%;
    margin-bottom: 10%;
}
#right:hover {
	background-color: #ebbd3e;
	transition: .5s; 
}
#left .feature-content-left h3{
	margin-left: 20%; 
	font-weight: bold;
}
#left .feature-content-left p{
	margin-left: 20%; 
	font-size: 125%;
	margin-bottom: 10.5%;
}
#btn_learn_how {
	border-radius: 0px;    
	transition: .5s;
	color: #ffffff;
	background-color: #554934;
	margin-left: 20%;
}
#btn_learn_how:hover {
	background-color: #27a0a5;
}
/*Right*/
#right .feature-content-left h3{
	margin-left: 20%; 
	font-weight: bold;
}
#right .feature-content-left p{
	margin-left: 20%; 
	font-size: 125%;
} 
.section-head2 {
	margin-top: 10%;
	margin-bottom: 7%;
	text-align: center; 
}
.section-head2 h1{
	padding-top: 15%;
	font-weight: bold; 
	color: #21444b;
}
/*Steps*/
.step-number { 
    position: relative; 
}
.step-number p{
	font-size: 20px;
}
.number1 {
    position: absolute;
    top: 5%;
    left: 2.3%; 
}
#img-step1 {
	margin-bottom: 7%;
}
#arrow1{
	background-color: #1f363b;
	text-align: center;
	color: #ffffff;
	left:0;
	position: absolute;  
    right:0;
    margin-bottom: 5%;
}
#guided-tour {
	background-color: #f1c54a;
	text-align: center;
	color: #1f363b;
	left:0;
	position: absolute;  
    right:0;
    margin-bottom: 5%;
    padding: 50px 0px;
}
#arrow2 {
	background-color: #a2d6c4;
	text-align: center; 
	left:0;
	position: absolute;  
    right:0; margin-bottom: 5%;
}
#customer-feedback {
	margin-top: 10%;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	font-color:#1f363b;
	margin-bottom: 5%;
}
#customer-feedback1 {   
	font-color:#1f363b;
	margin-bottom: 15%;
	font-size: 18px;
}
#customer-feedback1 p{   
	font-color:#1f363b;
	margin-bottom: 15%;
}
#testimonial-image1 {
	 border-radius: 50%;
	 width: 110px; 
}
#applauz-partners-line {
	border-top: 1px solid #a2d6c4; 
	margin-bottom: 5%;
}
#applauz-partners {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	font-color:#1f363b;
	margin-bottom: 5%;
}
#images-partner {
	margin-left: 13%; 
	margin-bottom: 5%;
}
#images-partner1 {
	opacity: .3;
	background-color: #ffffff;
	margin-right: 3%;
}
#footer {
	left:0; right: 0;
	position: absolute;
	background-color: #444; 
	color:#7a7a7a;
	padding: 30px 0px;
	font-size: 17px; 
}
#footer-robot {  
	position: relative; 
}
#footer #column1 {
	margin-top: 15%;
}
#footer #column2 {
	margin-top: 15%;
}
#footer #columnimg {
	margin-top: 10%;
}

#footer a{
	position: absolute;
	color: #7a7a7a;
	text-decoration: none;  
}
#footer a:hover{
	color: #ffffff;
} 
#images-capetrra {
	filter: grayscale(100%);
}
#footer-email {
	background-color: #444;
	color: #7a7a7a;
	border-radius: 0px;
}
#btn-email {
	border-radius: 0px;
}
#intro-req-content-head1 { 
	font-weight: normal;
	font-size: 55px;
	color:#ffffff;
	padding-top: 100px;
	line-height: 1.5;
	font-family: Roboto, sans-serif;
}
#intro-req-content-head2 { 
	color:#ffffff; 
	font-size: 20px;
}
#sign-up-form {
	background-color: #ffffff;  
	border-radius: 5px;
	padding: 40px;
	height:auto;
	width:350px;
	margin-top: 200px;
}
#sign-up-form input {
	border-radius: 0px;
	padding: 5px;
	margin: 25px 0px;
}

#sign-up-form select {
	border-radius: 0px;
	padding: 5px;
	margin: 25px 0px;
}
#btn-sign-up {
	background-color: #00a8b0;
	width: 100%;
	border-color: #00a8b0;
	border-radius: 0px;
	font-size: 18px;
}
#btn-sign-up:hover {
	background-color: #ebbd3e;
	border-color: #ebbd3e;
}
#form-arrow {
	float: right;
	margin-top: 75px;
}
#intro-request {
	margin-top: 30%; 
}
#intro-request h3{
	line-height: 150%;  
}
#intro-request-span{
	font-size: 17px;
}
#feature-background-img {
	width: 100%; 
	height: 508px;
    background-size: 100% 100%; 
    background-image:url(../images/feature-background.jpg);
    margin: 0%;
} 
#feature-background-content-head1 { 
	font-weight: bold;
	font-size: 55px;
	color:#ffffff;
	padding-top: 200px;
	line-height: 1.5;
	font-family: Roboto, sans-serif;
	text-align: center;
}
#feature-background-content-head2 { 
	font-weight: normal;
	font-size: 22px;
	color:#ffffff;  	
	font-family: Roboto, sans-serif;
	text-align: center;
}
#features-body {
	text-align: center;
	margin: 5% 0%;
}
#features-body h1 {
	font-weight: bold;
	font-size: 50px;
}
#features-body h4 {
	font-size: 25px;
}
#create-accout-content {
	margin-top: 13%;
	text-align: center;

}
#create-accout-content h3{
	 color: #00a8b0; 
	 font-size: 30px; 
}
#create-accout-content p{ 
	 font-size: 15px; 
}
#create-accout-form {
	background-color: #ffffff;  
	padding: 40px;
	height:auto;
	width:auto; 
}
#create-accout-form input {
	border-radius: 0px;
	border-color:#1f363b; 
	margin: 25px 0px;
}
#create-accout-form select {
	border-radius: 0px;
	border-color:#1f363b; 
	margin: 25px 0px;
}
#schedule {
	background-color: #1f363b;
	color: #ffffff;
	border-radius: 0px;
	font-size: 20px;
	margin: 2%;
}
#reward-background-img {
	width: 100%; 
	height: 508px;
    background-size: 100% 100%; 
    background-image:url(../images/intro-teritary-background.jpg);
    margin: 0%;
}  
#images-brand {
	opacity: .3;
	background-color: #ffffff;
	margin-right: 3%;
	height: 130px;
	margin-top: 6%;
}
#reward-content1 {
	font-size: 18px;
}
#products {
	margin-top: 7%;
	background-color: #e6e6e6;
	position: absolute;
	margin-left: 0;
	right: 0; 
	padding: 50px 0px;
}
#images-product {  
	margin-right: 3%;
	margin-top:2%;
	margin-bottom: 2%;
}
#products h1 {
	margin-top: 5%;
}